
#wrap { width: 100%; height: 390px; padding: 0; overflow: hidden; }
#frame { width: 700px; height: 520px; border: none; }
#frame { zoom: 0.75; -moz-transform: scale(0.75); -moz-transform-origin: 0 0; }

.carrusel{
 width: 100%;
 height: 250px;
}
.carousel-caption{
  top: 70%;
transform: translateY(-30%);
bottom: initial;
width: 100%;
left: 0;
background-color: rgba(0,0,0,0.6) !important;
  /*background-color: rgba(49,117,52,0.6) !important;*/
}
.carousel-item{
  -webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
}
.btn-sm{
  font-size: 9px !important;
}
.bg-celeste{
  background-color: #2FB5F8;
}
.text-celeste{
  color: #2FB5F8;
}
.bg-celes{
  background-color: #99bac2;
}
.text-celes{
  color: #99bac2;
}
.bg-cafe-claro{
  background-color: #f0b27a;
}
.text-cafe-claro{
  color: #f0b27a;
}
.bg-cafe{
  background-color:  #815e05;
}
.text-cafe{
  color:  #815e05;
}
.bg-rojo{
  background-color: #b4345b;
}
.text-rojo{
  color: #b4345b;
}
.bg-azul-oscuro{
  background-color: #123876;
}
.text-azul-oscuro{
  color: #123876;
}
.bg-plomo{
  background-color: #727273;
}
.text-plomo{
  color: #727273;
}
.bg-naranja{
  background-color: #e36e0d;
}
.text-naranja{
  color: #e36e0d;
}
.sidebar[data-color="blue"]:after,
  .off-canvas-sidebar[data-color="blue"]:after {
    background:  #1a358a !important; }
  .sidebar[data-color="blue"] .nav li.active > a:not([data-toggle="collapse"]),
  .off-canvas-sidebar[data-color="blue"] .nav li.active > a:not([data-toggle="collapse"]) {
    color:  #1a358a !important; }
    .sidebar[data-color="blue"] .nav li.active > a:not([data-toggle="collapse"]) i,
    .off-canvas-sidebar[data-color="blue"] .nav li.active > a:not([data-toggle="collapse"]) i {
      color:  #1a358a !important; }
  .sidebar[data-color="green"]:after,
  .off-canvas-sidebar[data-color="green"]:after {
    background: #2bbfb3 !important; }
  .sidebar[data-color="green"] .nav li.active > a:not([data-toggle="collapse"]),
  .off-canvas-sidebar[data-color="green"] .nav li.active > a:not([data-toggle="collapse"]) {
    color: #2bbfb3 !important; }
    .sidebar[data-color="green"] .nav li.active > a:not([data-toggle="collapse"]) i,
    .off-canvas-sidebar[data-color="green"] .nav li.active > a:not([data-toggle="collapse"]) i {
      color: #2bbfb3 !important; }
  .sidebar[data-color="orange"]:after,
  .off-canvas-sidebar[data-color="orange"]:after {
    background:  #6475bf; }
  .sidebar[data-color="orange"] .nav li.active > a:not([data-toggle="collapse"]),
  .off-canvas-sidebar[data-color="orange"] .nav li.active > a:not([data-toggle="collapse"]) {
    color:  #6475bf; }
    .sidebar[data-color="orange"] .nav li.active > a:not([data-toggle="collapse"]) i,
    .off-canvas-sidebar[data-color="orange"] .nav li.active > a:not([data-toggle="collapse"]) i {
      color:  #6475bf; }
  .sidebar[data-color="red"]:after,
  .off-canvas-sidebar[data-color="red"]:after {
    background:  #a63108 !important; }
  .sidebar[data-color="red"] .nav li.active > a:not([data-toggle="collapse"]),
  .off-canvas-sidebar[data-color="red"] .nav li.active > a:not([data-toggle="collapse"]) {
    color:  #a63108 !important; }
    .sidebar[data-color="red"] .nav li.active > a:not([data-toggle="collapse"]) i,
    .off-canvas-sidebar[data-color="red"] .nav li.active > a:not([data-toggle="collapse"]) i {
      color:  #a63108 !important; }
  .sidebar[data-color="yellow"]:after,
  .off-canvas-sidebar[data-color="yellow"]:after {
    background:  #dab40a !important; }
  .sidebar[data-color="yellow"] .nav li.active > a:not([data-toggle="collapse"]),
  .off-canvas-sidebar[data-color="yellow"] .nav li.active > a:not([data-toggle="collapse"]) {
    color:  #dab40a !important; }
    .sidebar[data-color="yellow"] .nav li.active > a:not([data-toggle="collapse"]) i,
    .off-canvas-sidebar[data-color="yellow"] .nav li.active > a:not([data-toggle="collapse"]) i {
      color:  #dab40a !important; }




.count{
    position: absolute;
    background: red;
    height:13px;
    top:3px;
    right:1.5rem;
    width:13px;
    text-align: center;
    line-height: 11px;
    font-size: 9px;
    border-radius: 50%;
    color:white;
}

.page-header[filter-color="verde"] {
    background: rgba(088,114,070,0.4);
    /* For browsers that do not support gradients */
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(088,114,070,0.4), rgba(078,084,082,0.4));
    /* Standard syntax */ 
  }
  .page-header[filter-color="cafe"] {
    background: rgba(108,059,042,0.4);
    /* For browsers that do not support gradients */
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(108,059,042,0.4), rgba(078,084,082,0.4));
    /* Standard syntax */ 
  }
#tabs ul{
  list-style:none;
  }
.chosen-container{
    width: 50% !important;
}
.text-peq{
  font-size: 10px !important;
}
.mit{
  width: 130px;
  overflow: auto;
  }
  .mit-sm{
  width: 80px;
  overflow: auto;
  }
.text-sm{
  font-size: 16px !important;
}
.text-small{
  font-size: 10px !important;
}
.text-md{
  font-size: 12px !important;
}
.tooltip-inner{
background-color: #6475bf !important;
border-radius: .15rem !important;
}
.tooltip .arrow::before{
  border-left-color:#6475bf !important;
}
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


.menus{
  background: white;
  border-radius: 9px;
  /*border:2px solid #42c88d;*/
  position: fixed;
  right: 20px;
  bottom:0px;
  z-index: 9;
}
  .menus ul{
  list-style:none;
  padding-left: 0px;
  }
.menus ul li{
  padding: 13px;
  content: center;
  /*float: left;*/
}

/*iconos flat*/
.oculto{
  display: none;
}
.titulos{
 height: 35px !important;
line-height: 35px !important;
border-bottom: 2px solid #6475bf;
}
.texta-lg{
  height: 100px !important;
}
.texta-md{
  height: 50px !important;
}
.text-lgg{
  font-size: 40px !important;
}
.icon-sm{
  width: 30px;
  height:30px;
}
.icon-xsm{
  width: 20px;
  height:20px;
}
.icon-md{
  width: 70px;
  height:50px;
}
.icon-lg{
  width: 120px;
  height:60px;
}
.icon-xxlg{
  width: 400px;
  height:50%;
}
.icon-xlg{
  width: 280px;
  height:50%;
}
.btn-info{
  background: #42c88d !important;
}
.btn-info:hover{
  background: #6475bf !important;
}
.panel-header {
 
  background: #42c88d  !important;
  /* fallback for old browsers */
  background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
  }
.panel-header-sm {
  height: 135px; }
  .panel-header-xsm {
  height: 90px; }
  /* Barra lateral fondo
  .sidebar,
  .off-canvas-sidebar {
    background: url("../../imagenes/autenticacion/sideBar-font.jpg") !important;

    z-index: 3; }
.sidebar::after,
  .off-canvas-sidebar::after {
  background:rgba(155,017,030,0.6) !important;
  z-index:2;
}*/
.img-side{
  width: 100px;
  height: 100px;
}
.img-sm{
  height: 30px;
  width: 30px;
}
.img-lg{
  height: 90px !important;
  width: 90px !important;
}
.status-indicator {
  border-width: 2px;
  border-style: solid;
  border-color: #ffaf00;
  border-radius: 100%;
  display: inline-block;
  height: 8px;
  width: 8px; }
  .status-indicator.online {
    border-color: #00ce68; }
  .status-indicator.offline {
    border-color: #308ee0; }
  .status-indicator.away {
    border-color: #ffaf00; }
/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 4px 30px 4px 10px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  /*bottom: 40px;*/
  right: 2px;
  pointer-events: none;
  color: #c80000;
  font-size: 12px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 14px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 20px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.true-validate::after {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 14px;
  color: #00ad5f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 10px;
}

.imgRedonda {
    width:30px;
    height:30px;
    border-radius:16px;
}
.contenido-chat{
	padding-left: 20px;
  padding-right: 60px;
}
.select-plantilla{

}
.select-single-plantilla{

}
.link-boton{
  text-decoration: none;
}
.link-boton:hover{
  text-decoration: none;
  background: rgba(0,0,0,0.1) !important;
}
.text-lg{
	font-size: 18px;
}

.sms-you{
text-align: left;
padding: 5px;
}

.sms{
	font-size: 14px;
  border-radius: 5px;
}

.hora-sms{
  font-size: 10px;
}
.sms-me{
text-align: center;
padding: 5px;
}
.input-sm{
  height: 10px !important;
}
.date-chat{
  border-radius: 5px;
  background-color: rgba(0,0,0,0.1) !important;
}
.container-chat{
  overflow: auto;
  height: 400px;
}
.search-choice{
border: 1px solid #ff6600 !important;    
background: white !important;
color: #ff6600 !important;
line-height: 22px !important;
font-size: 12px !important;
border-radius: 30px !important;
}
.chosen-single{
background: rgba(0,0,0,0.1) !important;
border-radius: 30px !important;
height: 35px !important;
line-height: 35px !important;
width: auto !important;
color:gray !important;
}
.chosen-choices{
    border-radius: 30px !important;

}
.search-field{
      height: 35px !important;
      line-height: 35px !important;

}
.active-result{
background: white!important;
  color:gray !important;
}
/*.result-selected{
	background: rgba(0,0,0,0.5) !important;
	color:white !important;
}*/
.active-result:hover{
	background: #ff6600 !important;
	color:white !important;
}
.chosen-single:focus{
	outline: none !important;
}
.input-gray{
	color:gray !important;
}


/*AUTOCOMPLETE CSS*/

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  font-size: 12px;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {

  background-color: #e9e9e9; 
}
.autocomplete-active {

  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

